        <header class="inner">
          <!-- <a id="forkme_banner" href="https://github.com/pjbull/raspberry-bush">View on GitHub</a> -->

          <h1 id="project_title">Raspberry Bush</h1>
          <h2 id="project_tagline">building a cluster of raspberry pis</h2>
          	<a class="button" href="{{ site.baseurl }}/index.html">background</a>
          	<a class="button" href="{{ site.baseurl }}/software.html">software</a>
          	<a class="button" href="{{ site.baseurl }}/hardware.html">hardware</a>
          	<a class="button" href="{{ site.baseurl }}/steps.html">step-by-step</a>
          	<a class="button" href="{{ site.baseurl }}/perf.html">performance</a>
            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/pjbull/raspberry-bush/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/pjbull/raspberry-bush/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>

